body {
	background-image: url("Kpop Concert.gif");
}
h1 {
	font-family: 'Satisfy', cursive;
	font-size: 80px;
	color: pink;
	
}

h2 {font-family: 'Satisfy', cursive;
	font-size: 40px;
	color: hotpink;}

	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*width: 100px;*/
	overflow: hidden;
	background-color: lightblue;
	position: fixed;}

li {float: left;
}

li a {display: block;
	color: purple;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: black;
	color: purple;
}

.active {
	background-color: pink;
}

button {background-color: pink;
	border: none;
color: purple;
text-align: center;
text-decoration: none;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

p {text-align: center;
	font-size: 15px;
	font-family: 'Permanent Marker', cursive;
	color: White;}

.column {float: left;
width: 30%;
padding: 10px;
}

.row: :after {content: "";
clear: both; 
display: table;
}

img {display: flex;
	height: 200px;
	width: 200px;
	border-width: 30%;
	padding: 10px;

